NEXTAUTH_SECRET=your-super-secret-key-here-generate-with-openssl-rand--hex-32
NEXTAUTH_URL=http://localhost:3000

DATABASE_URL=your-mongodb-connection-string

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

GROQ_API_KEY=your-groq-api-key
